#home {
    font-family: "Calibri", sans-serif;
    width: 100%;
    min-width: 400px;
    min-height: 400px;
    height: 100%;
}

/* Simple headings */
.centered-heading {
    color: black;
    font-size: x-large;
}

.centered-heading-white {
    color: white;
    font-size: x-large;
}

/* Simple paragraphs */
.centered-paragraph-white {
    color: white;
}

/* Input fields */
input {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 70%;
    height: 100%;
    border: none;
    border-bottom: 1px solid white;
    background: none;
    box-shadow: 0 1px 0 0 rgb(0, 0, 0, 0.2);
    color: white;
    font-size: 17px;
    font-weight: bold;
}

input:focus {
    box-shadow: 0 3px 0 0 rgb(139, 97, 57);
    outline: none;
}

/* Input labels */
label {
    transition: 0.2s ease-out;
    color: #fbfbfb;
    max-width: 50%;
    font-size: 20px;
    font-weight: bolder;
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 10px;
}

/* Form buttons */
.form-button {
    border: none;
    background-color: rgb(165, 113, 65);
    color: white;
    font-family: inherit;
    cursor: pointer;
}

.form-button:not(:disabled):hover {
    background-color: rgb(139, 97, 57);
}

.form-button:not(:disabled):active {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 6px 4px;
}

.form-button-submit {
    width: 30%;
    margin: auto;
    margin-top: 20px;
    padding: 14px 30px 13px;
    border-radius: 50px;
    font-family: inherit;
    font-size: 20px;
    font-weight: bolder;
    box-shadow: 0 24px 32px rgba(0, 0, 0, 0.2);
}

/* Classic buttons */
.classic-button {
    border: black;
    background-color: white;
    color: black;
    font-family: inherit;
    cursor: pointer;
    margin: auto;
    margin-left: 20px;
    padding: 14px 20px 13px;
    border-radius: 50px;
    font-family: inherit;
    font-size: 20px;
    font-weight: bolder;
    box-shadow: 0 24px 32px rgba(0, 0, 0, 0.2);
}

.classic-button :not(:disabled):hover {
    background-color: rgb(199, 199, 199);
}

.classic-button:not(:disabled):active {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 6px 4px;
}
