{% load static %}
<link
    rel="stylesheet"
    type="text/css"
    href="{% static 'inventory_app/home.css' %}"
/>
<link
    rel="stylesheet"
    type="text/css"
    href="{% static 'inventory_app/login_form.css' %}"
/>
<link
    rel="stylesheet"
    type="text/css"
    href="{% static 'inventory_app/store_display.css' %}"
/>
<link
    rel="stylesheet"
    type="text/css"
    href="{% static 'inventory_app/expiry_date_adding.css' %}"
/>
<section id="home">{% block content %}{% endblock %}</section>
