{% extends "inventory_app/home.html" %}{% block content %}
<section id="login">
    <h1 class="centered-heading-white">Welcome to the inventory app</h1>
    <h2 class="centered-heading-white">
        Please log in to access your store data.
    </h2>
    <form
        class="login-form"
        action="login"
        method="post"
        class="employee-login-form"
    >
        {% csrf_token %} {{ form }}
        <input
            class="form-button form-button-submit"
            type="submit"
            value="Send"
        />
    </form>
</section>
{% endblock %}
