{% extends "inventory_app/home.html" %} {% block content %}
<section id="store-products-display">
    {% if store_name %}
    <h1 class="centered-heading">{{store_name}}'s products.</h1>
    <div class="expiry-date-adding">
        <label for="expiry_button">Add expiry date a for product</label>
        <a name="expiry_button" href="./{{store_name}}/add_date">
            <button class="classic-button">Add</button>
        </a>
    </div>
    <div class="products-display">
        {% if products_list %}

        <table>
            <tr>
                <th>GTIN</th>
                <th>Product name</th>
                <th>Expiry date</th>
            </tr>
            {% for product in products_list %}
            <tr>
                <td>{{ product.GTIN }}</td>
                <td>{{ product.name }}</td>
                <td>{{product.shortest_expiry_date}}</td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
        <p>No products currently in store.</p>
        {% endif %}
    </div>
    {% else %}
    <h1 class="centered-heading">
        The store you are looking for doesn't exist.
    </h1>
    {% endif %}
</section>
{% endblock %}
